@charset "UTF-8";
@font-face {
  font-family: "Georgia", "Times New Roman", Times, serif;
  src: url(../fonts/georgia.ttf);
}
@font-face {
  font-family: "Arial", Helvetica, sans-serif;
  src: url(../fonts/ARIAL.ttf);
  font-weight: 400;
  font-style: normal;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 708px;
    margin: 0 auto;
  }
}
@media (max-width: 720px) {
  .wrapper {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .wrapper {
    max-width: 300px;
  }
}

/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

.header {
  background: url("../img/noise-transparent.svg"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px 0px 0px 0px;
}
@media (max-width: 768px) {
  .header__container {
    padding: 30px 0;
  }
}

.logo_title:hover {
  transform: scale(110%);
  transition: background-color 3s, transform 2.5s;
}
.logo_title .logo-href {
  font-size: 3.2rem;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  scroll-behavior: smooth;
}

.logo_subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  padding: 10px 0 0 4px;
  color: #FFFFFF;
}

.nav-panel {
  display: flex;
  flex-direction: row;
  width: 443px;
  justify-content: space-between;
  padding: 25px 0px 0px 0px;
}

.item-menu a {
  font-family: "Arial";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  color: #CDCDCD;
  line-height: 2.4rem;
  scroll-behavior: smooth;
}
.item-menu a:hover {
  color: #FAFAFA;
  border-bottom: 3px solid #FAFAFA;
  transition: border-bottom 0.8s ease-in-out;
}

.item-active {
  color: #FAFAFA;
  border-bottom: 3px solid #FAFAFA;
  pointer-events: none;
}
@media (max-width: 720px) {
  .item-active {
    color: #FAFAFA;
  }
}

.burger-line, .burger__container::after, .burger__container::before {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #F1CDB3;
  content: "";
}

.line-black {
  background: #000000;
}

.black::before {
  background: #000000;
}
.black::after {
  background: #000000;
}

.burger__container {
  display: none;
  width: 32px;
  height: 30px;
  position: relative;
  z-index: 5;
  transition: all 0.5s ease-out;
}
.burger__container.active {
  transform: rotate(90deg);
}
@media (max-width: 720px) {
  .burger__container {
    display: block;
  }
}
.burger__container::before {
  top: 0;
  left: 0;
}
.burger__container::after {
  bottom: 0;
  left: 0;
}

@media (max-width: 720px) {
  .nav-menu {
    position: absolute;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 90%;
    background-color: #292929;
    display: flex;
    transition: all 0.5s ease-out;
    justify-content: center;
    overflow: hidden;
  }
  .nav-menu.active {
    right: 0;
    overflow: hidden;
  }
}

@media (max-width: 720px) {
  .nav-panel {
    flex-direction: column;
    padding: 90px;
    gap: 0;
    align-items: center;
  }
}
@media (max-width: 425px) {
  .nav-panel {
    padding: 20px;
    justify-content: space-evenly;
  }
}

@media (max-width: 720px) {
  .item-menu a {
    line-height: 5.1rem;
    font-size: 3.2rem;
    color: #cdcdcd;
  }
  .item-menu a:active {
    border-bottom: 3px solid #FAFAFA;
    color: #FAFAFA;
  }
}
@media (max-width: 720px) {
  .item-menu .item-active {
    color: #FAFAFA;
  }
}

@media (max-width: 720px) {
  .header__container {
    padding: 30px 10px 20px 10px;
    align-items: center;
    justify-content: space-between;
  }
}

.burger-line {
  top: calc(50% - 1.5px);
  left: 0;
}

.button-primary {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  background-color: #F1CDB3;
  margin-top: 42px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .button-primary {
    align-self: center;
  }
}
.button-primary span {
  width: 117px;
  height: 22px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  color: #292929;
}
.button-primary:hover {
  background-color: #FDDCC4;
  transform: scale(90%);
  transition: background-color 3s;
}

.button_secondary {
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  cursor: pointer;
  transition: all 0.3s;
}
.button_secondary:hover {
  background-color: #FDDCC4;
}
.button_secondary span {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  color: #292929;
}

.button-pets-card {
  background-color: #F1CDB3;
  width: 261px;
  height: 52px;
  cursor: pointer;
  transition: all 0.3s;
  margin: 0;
}
@media (max-width: 425px) {
  .button-pets-card {
    width: 260px;
  }
}

.button-margin {
  margin: 42px 0 42px 0;
}

.startScreen {
  background: url("../img/noise-transparent.svg"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.startScreen__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 813px;
}
@media (max-width: 768px) {
  .startScreen__container {
    flex-direction: column;
    padding-top: 30px;
  }
}
@media (max-width: 425px) {
  .startScreen__container {
    padding-top: 60px;
  }
}

.startScreen__block {
  width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 720px) {
  .startScreen__block {
    width: 100%;
    align-items: center;
  }
}
.startScreen__block h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 5.7rem;
  color: #FFFFFF;
  letter-spacing: 0.06em;
}
@media (max-width: 720px) {
  .startScreen__block h2 {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .startScreen__block h2 {
    font-size: 2.5rem;
    line-height: 3.2rem;
  }
}
@media (max-width: 320px) {
  .startScreen__block h2 {
    width: 250px;
  }
}

.text-startScreen {
  font-family: "Arial";
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin-top: 42px;
  color: #cdcdcd;
}
@media (max-width: 720px) {
  .text-startScreen {
    padding: 0 100px;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .text-startScreen {
    padding: 0 10px;
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}
@media (max-width: 320px) {
  .text-startScreen {
    padding: 0;
  }
}

.start-screen-puppy {
  align-self: flex-end;
  max-width: 90%;
  padding-left: 40px;
}
.start-screen-puppy img {
  width: 100%;
  padding-top: 100px;
}
@media (max-width: 768px) {
  .start-screen-puppy img {
    padding-top: 20px;
    width: 70%;
  }
}
@media (max-width: 425px) {
  .start-screen-puppy img {
    width: 100%;
    padding: 105px 0 0 40px;
  }
}

.about__container {
  background-color: #FFFFFF;
  margin: 80px 40px 100px 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: row;
}
@media (max-width: 768px) {
  .about__container {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (max-width: 425px) {
  .about__container {
    margin: 42px 15px 50px 15px;
  }
}

.about-img {
  padding: 0px 0px 0px 0px;
  width: 300px;
}
@media (max-width: 768px) {
  .about-img img {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .about-img img {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .about-img img {
    width: 260px;
    height: 353px;
    margin: 0 20px;
  }
}

.about-block {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .about-block {
    align-items: center;
    padding-top: 0px;
  }
}
.about-block h3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  width: 370px;
}
@media (max-width: 768px) {
  .about-block h3 {
    padding-bottom: 25px;
  }
}
@media (max-width: 425px) {
  .about-block h3 {
    width: 320px;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .about-block h3 {
    width: 280px;
    font-size: 2.5rem;
    line-height: 3.2rem;
  }
}
.about-block .about-paragraf {
  font-family: "Arial";
  font-size: 1.5rem;
  line-height: 2.4rem;
  width: 430px;
  padding-top: 25px;
}
@media (max-width: 768px) {
  .about-block .about-paragraf {
    color: #4C4C4C;
  }
}
@media (max-width: 425px) {
  .about-block .about-paragraf {
    width: 100%;
    text-align: justify;
  }
}
@media (max-width: 320px) {
  .about-block .about-paragraf {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}

@media (max-width: 768px) {
  .paragraf-padding {
    padding: 22px 0 42px 0;
  }
}

.pets__section {
  background-color: #F6F6F6;
}

.petsSection__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
@media (max-width: 720px) {
  .petsSection__container {
    height: 100%;
  }
}
.petsSection__container h3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  width: 400px;
  text-align: center;
  padding: 32px 0;
}
@media (max-width: 768px) {
  .petsSection__container h3 {
    margin-top: 30px;
  }
}
@media (max-width: 425px) {
  .petsSection__container h3 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    width: 100%;
    margin: 42px 0 42px 0;
    padding-top: 0px;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal.active {
  display: block;
}

.modal-content {
  background-color: #FAFAFA;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.modal-img {
  width: 100%;
}

.title-modal {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  color: black;
}

.type-modal {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  color: black;
}

.description-modal {
  font-family: "Arial";
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin: 50px 0;
  color: black;
}

.title-options {
  color: black;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: 0.06em;
}

.options {
  color: black;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.45rem;
  line-height: 1.6rem;
  letter-spacing: 0.06em;
  padding: 11px 0;
}

.modal-close {
  position: absolute;
  top: calc(50% - 50px);
  right: calc(10% - 10px);
  z-index: 100;
}
.modal-close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal_close_button-svg {
  pointer-events: none;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 65px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .slider {
    max-width: 708px;
    justify-content: space-between;
    gap: 13px;
  }
}
@media (max-width: 425px) {
  .slider {
    max-width: 300px;
    align-content: space-between;
    gap: 0;
  }
}
.slider .slider-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider .pets-card {
  width: 270px;
  height: 435px;
  border-radius: 9px;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  cursor: pointer;
  transition: all 0.3c ease-out;
  overflow: hidden;
}
@media (max-width: 768px) {
  .slider .pets-card:nth-child(4) {
    display: none;
  }
}
@media (max-width: 425px) {
  .slider .pets-card:nth-child(3) {
    display: none;
  }
}
.slider .pets-card:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.slider .pets-card .img-pets-card {
  border-radius: 9px 9px 0px 0px;
}
.slider .pets-card h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
}

@media (max-width: 425px) {
  .slider:nth-child(2) {
    flex-basis: 100%;
  }
}

.right-arrow {
  transform: rotate(180deg);
  cursor: pointer;
}
@media (max-width: 425px) {
  .right-arrow {
    flex-basis: 40%;
    order: 3;
    margin: 16px 58px 0 0;
  }
}

.arrow-icon:hover {
  fill: rgba(241, 205, 179, 0.5607843137);
  cursor: pointer;
}

@media (max-width: 425px) {
  .left-arrow {
    flex-basis: 40%;
    order: 2;
    padding: 20px 0 0 42px;
  }
}

.help__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 80px 40px 100px 40px;
}
@media (max-width: 425px) {
  .help__container {
    margin: 42px 15px 42px 15px;
  }
}
.help__container h3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  width: 320px;
  text-align: center;
  margin: 5px 70px 50px 0px;
}
@media (max-width: 768px) {
  .help__container h3 {
    margin: 0px 0px 60px 0px;
  }
}
@media (max-width: 425px) {
  .help__container h3 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    width: 253px;
  }
}
.help__container h3 span {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  width: 308px;
  text-align: center;
}
@media (max-width: 425px) {
  .help__container h3 span {
    font-size: 2.5rem;
    line-height: 3.2rem;
  }
}

.help-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 425px) {
  .help-list {
    justify-content: space-between;
  }
}
.help-list .list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-around;
  flex-wrap: wrap;
  flex-basis: 20%;
  padding-bottom: 55px;
}
.help-list .list-item .img-list-item {
  text-align: center;
}
.help-list .list-item h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  padding-top: 30px;
}
@media (max-width: 425px) {
  .help-list .list-item h4 {
    font-size: 1.5rem;
    line-height: 1.7rem;
    text-align: center;
    letter-spacing: 0.06em;
  }
}
@media (max-width: 768px) {
  .help-list .list-item {
    flex-basis: 33%;
  }
}
@media (max-width: 425px) {
  .help-list .list-item {
    flex-basis: 50%;
  }
}

/*
    &:nth-child(6) {
        flex-basis: 23%;
        padding-left: 70px;
        flex-wrap: wrap;
        @include media-tablet {
            flex-basis: 33%;
            padding-left: 0;
            padding-top: 55px;
        }
    }

    &:nth-child(7) {
        flex-basis: 20%;
        flex-wrap: wrap;
        @include media-tablet {
            flex-basis: 33%;
            padding-top: 55px;
        }
    }

    &:nth-child(8) {
        flex-basis: 23%;
        flex-wrap: wrap;
        @include media-tablet {
            flex-basis: 33%;
            padding-top: 55px;
        }
    }

    &:last-child {
        flex-basis: 23%;
        padding-right: 70px;
        flex-wrap: wrap;
        @include media-tablet {
            flex-basis: 33%;
            padding-right: 0px;
            padding-top: 55px;
        }
    }



    */
.donation {
  background-color: #F6F6F6;
}

.donation__container {
  display: flex;
  justify-content: center;
  padding: 80px 0px 100px 0px;
}
@media (max-width: 768px) {
  .donation__container {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (max-width: 425px) {
  .donation__container {
    padding: 42px 0px;
  }
}

.donation-img {
  padding-right: 40px;
}
@media (max-width: 768px) {
  .donation-img {
    padding-top: 60px;
    padding-right: 0px;
  }
}
@media (max-width: 425px) {
  .donation-img {
    padding-top: 0;
  }
}
.donation-img img {
  width: 100%;
}
@media (max-width: 425px) {
  .donation-img img {
    width: 90%;
  }
}

.donation-block {
  width: 380px;
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .donation-block {
    width: 100%;
    height: 100%;
    align-items: center;
  }
}
.donation-block h3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
}
@media (max-width: 425px) {
  .donation-block h3 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    text-align: center;
  }
}
.donation-block h5 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: 0.06em;
  color: #545454;
}
@media (max-width: 425px) {
  .donation-block h5 {
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 20px 0 20px 0;
  }
}

.credit-card {
  width: 349px;
  height: 43px;
  border-radius: 9px;
  background-color: #F1CDB3;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .credit-card {
    width: 281px;
  }
}
.credit-card span {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
}
@media (max-width: 425px) {
  .credit-card span {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
}

.donation-description {
  width: 380px;
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #B2B2B2;
}
@media (max-width: 425px) {
  .donation-description {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: justify;
    width: 100%;
    padding: 20px 10px 42px 10px;
  }
}
@media (max-width: 320px) {
  .donation-description {
    padding: 20px 0 42px 0;
  }
}

.footer {
  background: url("../img/noise-transparent.svg"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .footer__container {
    justify-content: space-between;
    padding-top: 30px;
  }
}

.footer-contacts {
  width: 305px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .footer-contacts {
    align-items: center;
    padding-bottom: 40px;
    width: 100%;
  }
}
.footer-contacts h3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}
@media (max-width: 425px) {
  .footer-contacts h3 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    text-align: center;
  }
}

.mail-block {
  width: 251px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.mail-block:focus {
  color: #FFFFFF;
}
.mail-block .mail-icon {
  background-image: url("../img/icon-email.svg");
  width: 100%;
  height: 32px;
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
}
.mail-block h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  color: #F1CDB3;
  width: 100%;
  padding-left: 50px;
}
.mail-block h4:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
@media (max-width: 425px) {
  .mail-block h4 {
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
  }
}

.phone-block {
  width: 239px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.phone-block .phone-icon {
  background-image: url("../img/icon-phone.svg");
  width: 100%;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}
.phone-block h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  color: #F1CDB3;
  margin-left: 50px;
}
.phone-block h4:hover {
  color: #FFFFFF;
}
@media (max-width: 425px) {
  .phone-block h4 {
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
  }
}

.locations-block {
  width: 302px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 425px) {
  .locations-block {
    width: 100%;
    height: 100%;
  }
}
.locations-block h3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}
@media (max-width: 425px) {
  .locations-block h3 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    text-align: center;
    letter-spacing: 0.06em;
    width: 100%;
  }
}

.adress-location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
@media (max-width: 425px) {
  .adress-location {
    padding-top: 40px;
  }
}
.adress-location .icon-block {
  width: 22px;
  height: 32px;
}
.adress-location .icon-block .location-icon {
  background-image: url("../img/icon-marker.svg");
  width: 22px;
  height: 32px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.adress-location .icon-block .location-icon:hover {
  transform: scale(120%);
  transition: background-color 3s, transform 2.5s;
}
.adress-location h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  color: #F1CDB3;
  margin-left: 40px;
  width: 300px;
}
.adress-location h4:hover {
  color: #FFFFFF;
}
@media (max-width: 425px) {
  .adress-location h4 {
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
  }
}

.footer-img__container .footer-img {
  background-image: url("../img/footer-puppy.png");
  width: 300px;
  height: 310px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 425px) {
  .footer-img__container .footer-img {
    width: 260px;
    height: 269px;
  }
}
@media (max-width: 768px) {
  .footer-img__container {
    padding-top: 65px;
    margin: 0 auto;
  }
}
@media (max-width: 425px) {
  .footer-img__container {
    padding-top: 40px;
  }
}/*# sourceMappingURL=style.css.map */