.donation {
    background-color: $color-light-l;
}

.donation__container {
    display: flex;
    justify-content: center;
    padding: 80px 0px 100px 0px;
    @include media-tablet {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.donation-img {
    padding-right: 40px;
    @include media-tablet {
        padding-top: 60px;
        padding-right: 0px;
    }
}

.donation-block {
    width: 380px;
    height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3 {
        @include h3;
    }

    h5 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.7rem;
        letter-spacing: 0.06em;
        color: $color-dark-l;
    }
}

.credit-card {
    width: 349px;
    height: 43px;
    border-radius: 9px;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    justify-content: space-between;
    span {
        @include h4;
    }
}

.donation-description {
    width: 380px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: $color-dark-m;
}