.footer {
    background: url('../img/noise-transparent.svg'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    width: 1200px;
}

.footer-contacts {
    width: 305px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3 {
        @include h3;
        color: $color-light-xl;
    }
}

.mail-block {
    width: 251px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .mail-icon {
        background-image: url('../img/icon-email.svg');
        width: 40px;
        height: 32px;
        background-size: contain;
        display: inline-block;
        background-repeat: no-repeat;
    }

    h4 {
        @include h4;
        color: $color-primary;
        text-decoration: underline;
    }
}

.phone-block {
    width: 239px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .phone-icon {
        background-image: url('../img/icon-phone.svg');
        width: 40px;
        height: 32px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
    }

    h4 {
        @include h4;
        color: $color-primary;
    }
}

.locations-block {
    width: 302px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h3 {
        @include h3;
        color: $color-light-xl;
    }
}

.adress-location {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 302px;
    .icon-block {
        width: 22px;
        height: 32px;
        .location-icon {
            background-image: url('../img/icon-marker.svg');
            width: 22px;
            height: 32px;
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    h4 {
        @include h4;
        color: $color-primary;
        padding-left: 20px;
    }
}

.footer-img__container {
    .footer-img {
            background-image: url('../img/footer-puppy.png');
            width: 300px;
            height: 310px;
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
    }
}