.pets__section {
    background-color: $color-light-l;
}

.petsSection__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 877px;
    h3 {
        span {
            @include h3;
            width: 400px;
            text-align: center;
        }
        @include h3;
        width: 330px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1200px;

    .pets-card {
        width: 270px;
        height: 435px;
        border-radius: 9px;
        background-color: $color-light-s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        &:hover {
            background-color: $color-light-xl;
            box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
            transform: scale(105%);
            transition: background-color 3s, transform 2.5s;
        }
        .img-pets-card {
            border-radius: 9px 9px 0px 0px;
        }

        h4 {
            @include h4;
        }
    }
}

.right-arrow {
    transform: rotate(180deg);
    cursor: pointer;
}


    .arrow-icon:hover  {
        fill: #f1cdb38f;
        cursor: pointer;
      }



