.startScreen {
    background: url('../img/noise-transparent.svg'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
    background: #513d2f;
}

.startScreen__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include media-tablet {
        flex-direction: column;
    }
}

.startScreen__block {
    margin: 5px 0px 0px 0px;
    width: 460px;
    h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 4.4rem;
    line-height: 5.7rem;
    color: $color-light-xl;
    width: 310px;
    }
}

.text-startScreen {
    @include paragraph-l;
    margin-top: 42px;
    color: $color-dark-s;
}

.start-screen-puppy {
    align-self: flex-end;
    img {
        max-width: 100%;
        padding-top: 90px;
    }
}