@charset "UTF-8";
.slider .pets-card {
  transition: all 0.3c ease-out;
}

@font-face {
  font-family: "Georgia", "Times New Roman", Times, serif;
  src: url(../fonts/georgia.ttf);
}
@font-face {
  font-family: "Arial", Helvetica, sans-serif;
  src: url(../fonts/ARIAL.ttf);
  font-weight: 400;
  font-style: normal;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 708px;
    margin: 0 auto;
  }
}

/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 255, 0.363);
  margin: 0 auto;
}

.header {
  background: url("../img/noise-transparent.svg"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 25px 10px 20px 10px;
}
@media (max-width: 768px) {
  .header__container {
    padding: 30px 0;
  }
}

.logo_title:hover {
  transform: scale(110%);
  transition: background-color 3s, transform 2.5s;
}
.logo_title .logo-href {
  font-size: 3.2rem;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  scroll-behavior: smooth;
}

.logo_subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  padding: 10px 0 0 4px;
  color: #FFFFFF;
}

.nav-panel {
  display: flex;
  flex-direction: row;
  width: 443px;
  justify-content: space-between;
  padding: 25px 0px 0px 0px;
}

.item-menu a {
  font-family: "Arial";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  color: #CDCDCD;
  line-height: 2.4rem;
  scroll-behavior: smooth;
}
.item-menu a:hover {
  color: #FAFAFA;
  border-bottom: 3px solid #FAFAFA;
  transition: border-bottom 0.8s ease-in-out;
}
.item-menu a:first-child {
  color: #FAFAFA;
}

.item-active {
  color: #FAFAFA;
  border-bottom: 3px solid #FAFAFA;
  pointer-events: none;
}

.burger-line, .burger__container::after, .burger__container::before {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: black;
  content: "";
}

.burger__container {
  display: none;
  width: 32px;
  height: 30px;
  position: relative;
}
@media (max-width: 414px) {
  .burger__container {
    display: inline-block;
  }
}
.burger__container::before {
  top: 0;
  left: 0;
}
.burger__container::after {
  bottom: 0;
  left: 0;
}

.burger-line {
  top: calc(50% - 1.5px);
  left: 0;
}

.button-primary {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  background-color: #F1CDB3;
  margin-top: 42px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .button-primary {
    align-self: center;
  }
}
.button-primary span {
  width: 117px;
  height: 22px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  color: #292929;
}
.button-primary:hover {
  background-color: #FDDCC4;
  transform: scale(105%);
  transition: background-color 3s, transform 2.5s;
}

.button_secondary {
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  cursor: pointer;
  transition: all 0.3s;
}
.button_secondary:hover {
  background-color: #FDDCC4;
  transform: scale(85%);
  transition: background-color 3s, transform 2.5s;
}
.button_secondary span {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  color: #292929;
}

.button-pets-card {
  background-color: #F1CDB3;
  width: 261px;
  height: 52px;
  cursor: pointer;
  transition: all 0.3s;
  margin: 0;
}

.startScreen {
  background: url("../img/noise-transparent.svg"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.startScreen__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 768px) {
  .startScreen__container {
    flex-direction: column;
    padding-top: 30px;
  }
}

.startScreen__block {
  width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.startScreen__block h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 5.7rem;
  color: #FFFFFF;
  width: 310px;
}

.text-startScreen {
  font-family: "Arial";
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin-top: 42px;
  color: #cdcdcd;
}

.start-screen-puppy {
  align-self: flex-end;
  max-width: 100%;
}
.start-screen-puppy img {
  width: 100%;
  padding-top: 100px;
}
@media (max-width: 768px) {
  .start-screen-puppy img {
    padding-left: 128px;
  }
}

.about__container {
  background-color: #FFFFFF;
  margin: 80px 40px 100px 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: row;
}
@media (max-width: 768px) {
  .about__container {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.about-img {
  padding: 0px 0px 0px 0px;
  width: 300px;
}

.about-block {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .about-block {
    align-items: center;
    padding-top: 0px;
  }
}
.about-block h3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  width: 370px;
}
.about-block .about-paragraf {
  font-family: "Arial";
  font-size: 1.5rem;
  line-height: 2.4rem;
  width: 430px;
}
@media (max-width: 768px) {
  .about-block .about-paragraf {
    padding-top: 25px;
  }
}

.pets__section {
  background-color: #F6F6F6;
}

.petsSection__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 877px;
}
.petsSection__container h3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  width: 400px;
  text-align: center;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 1200px;
}
@media (max-width: 768px) {
  .slider {
    width: 708px;
    justify-content: space-between;
  }
}
.slider .pets-card {
  width: 270px;
  height: 435px;
  border-radius: 9px;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.slider .pets-card:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  transform: scale(105%);
  transition: background-color 3s, transform 2.5s;
}
.slider .pets-card .img-pets-card {
  border-radius: 9px 9px 0px 0px;
}
.slider .pets-card h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
}
.slider .pets-card:nth-child(4) {
  display: none;
}

.right-arrow {
  transform: rotate(180deg);
  cursor: pointer;
}

.arrow-icon:hover {
  fill: rgba(241, 205, 179, 0.5607843137);
  cursor: pointer;
}

.help__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 80px 40px 100px 40px;
}
.help__container h3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  width: 320px;
  text-align: center;
  margin: 5px 70px 0px 0px;
}
@media (max-width: 768px) {
  .help__container h3 {
    margin: 0px 0px 60px 0px;
  }
}
.help__container h3 span {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  width: 308px;
  text-align: center;
}

.help-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-around;
  flex-wrap: wrap;
}
.help-list .list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-around;
  flex-wrap: wrap;
  flex-basis: 20%;
  padding-bottom: 55px;
}
.help-list .list-item .img-list-item {
  text-align: center;
}
.help-list .list-item h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  padding-top: 30px;
}
@media (max-width: 768px) {
  .help-list .list-item {
    flex-basis: 33%;
  }
}

/*
    &:nth-child(6) {
        flex-basis: 23%;
        padding-left: 70px;
        flex-wrap: wrap;
        @include media-tablet {
            flex-basis: 33%;
            padding-left: 0;
            padding-top: 55px;
        }
    }

    &:nth-child(7) {
        flex-basis: 20%;
        flex-wrap: wrap;
        @include media-tablet {
            flex-basis: 33%;
            padding-top: 55px;
        }
    }

    &:nth-child(8) {
        flex-basis: 23%;
        flex-wrap: wrap;
        @include media-tablet {
            flex-basis: 33%;
            padding-top: 55px;
        }
    }

    &:last-child {
        flex-basis: 23%;
        padding-right: 70px;
        flex-wrap: wrap;
        @include media-tablet {
            flex-basis: 33%;
            padding-right: 0px;
            padding-top: 55px;
        }
    }



    */
.donation {
  background-color: #F6F6F6;
}

.donation__container {
  display: flex;
  justify-content: center;
  padding: 80px 0px 100px 0px;
}
@media (max-width: 768px) {
  .donation__container {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.donation-img {
  padding-right: 40px;
}
@media (max-width: 768px) {
  .donation-img {
    padding-top: 60px;
    padding-right: 0px;
  }
}

.donation-block {
  width: 380px;
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.donation-block h3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
}
.donation-block h5 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: 0.06em;
  color: #545454;
}

.credit-card {
  width: 349px;
  height: 43px;
  border-radius: 9px;
  background-color: #F1CDB3;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  justify-content: space-between;
}
.credit-card span {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation-description {
  width: 380px;
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #B2B2B2;
}

.footer {
  background: url("../img/noise-transparent.svg"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .footer__container {
    justify-content: space-between;
    padding-top: 30px;
  }
}

.footer-contacts {
  width: 305px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-contacts h3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}

.mail-block {
  width: 251px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.mail-block:hover {
  color: #FFFFFF;
}
.mail-block .mail-icon {
  background-image: url("../img/icon-email.svg");
  width: 40px;
  height: 32px;
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
}
.mail-block h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  color: #F1CDB3;
}
.mail-block h4:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.phone-block {
  width: 239px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.phone-block .phone-icon {
  background-image: url("../img/icon-phone.svg");
  width: 40px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}
.phone-block h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  color: #F1CDB3;
}
.phone-block h4:hover {
  color: #FFFFFF;
}

.locations-block {
  width: 302px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.locations-block h3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}

.adress-location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 302px;
}
.adress-location .icon-block {
  width: 22px;
  height: 32px;
}
.adress-location .icon-block .location-icon {
  background-image: url("../img/icon-marker.svg");
  width: 22px;
  height: 32px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.adress-location .icon-block .location-icon:hover {
  transform: scale(120%);
  transition: background-color 3s, transform 2.5s;
}
.adress-location h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  color: #F1CDB3;
  padding-left: 20px;
}
.adress-location h4:hover {
  color: #FFFFFF;
}

.footer-img__container .footer-img {
  background-image: url("../img/footer-puppy.png");
  width: 300px;
  height: 310px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .footer-img__container {
    padding-top: 65px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
