@charset "UTF-8";
@font-face {
  font-family: "Georgia", "Times New Roman", Times, serif;
  src: url(../fonts/georgia.ttf);
}
@font-face {
  font-family: "Arial", Helvetica, sans-serif;
  src: url(../fonts/ARIAL.ttf);
  font-weight: 400;
  font-style: normal;
}
.item-menu a {
  font-family: "Arial";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  color: #CDCDCD;
  line-height: 160%;
}
.item-menu a:hover {
  color: #FAFAFA;
  border-bottom: 3px solid #FAFAFA;
}
.item-menu:first-child {
  color: #FAFAFA;
  border-bottom: 3px solid #FAFAFA;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 10px;
}

body {
  background-color: #FFFFFF;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  height: 90px;
  background: url("../img/noise-transparent.svg"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.header__container {
  display: flex;
  width: 1200px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 3.2rem;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: 0.06em;
  padding: 31px 0 1px 1px;
  color: #F1CDB3;
}

.logo_subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  padding: 10px 0 0 4px;
  color: #FFFFFF;
}

.nav-panel {
  display: flex;
  flex-direction: row;
  width: 443px;
  justify-content: space-between;
  padding: 25px 0px 0px 0px;
}

.button-primary {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  background-color: #F1CDB3;
  margin-top: 42px;
  cursor: pointer;
  transition: all 0.3s;
}
.button-primary span {
  width: 117px;
  height: 22px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  color: #292929;
}
.button-primary:hover {
  background-color: #FDDCC4;
}

.button_secondary {
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  cursor: pointer;
  transition: all 0.3s;
}
.button_secondary span {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  color: #292929;
}

.button-pets-card {
  background-color: #F1CDB3;
  width: 261px;
  height: 52px;
  cursor: pointer;
  transition: all 0.3s;
}

.startScreen {
  height: 815px;
  background: url("../img/noise-transparent.svg"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.startScreen__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 815px;
}

.startScreen__block {
  margin: 5px 0px 0px 0px;
  width: 460px;
}
.startScreen__block h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 5.7rem;
  color: #FFFFFF;
  width: 310px;
}
.startScreen__block .text-startScreen {
  font-family: "Arial";
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #CDCDCD;
  margin-top: 42px;
}

.start-screen-puppy {
  width: 698px;
  height: 728px;
  align-self: flex-end;
}
.start-screen-puppy span {
  background-image: url(img/start-screen-puppy.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.about__container {
  height: 408px;
  background-color: #FFFFFF;
  margin: 80px 40px 100px 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: row;
}

.about-img {
  padding: 0px 0px 0px 0px;
  width: 300px;
}

.about-block {
  width: 500px;
  height: 390px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-block h3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  width: 370px;
}
.about-block .about-paragraf {
  font-family: "Arial";
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #CDCDCD;
  width: 430px;
}

.pets__section {
  background-color: #F6F6F6;
}

.petsSection__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 877px;
}
.petsSection__container h3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  width: 400px;
  text-align: center;
}
.petsSection__container h3 p {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  width: 400px;
  text-align: center;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 1200px;
}
.slider .pets-card {
  width: 270px;
  height: 435px;
  border-radius: 9px;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.slider .pets-card .img-pets-card {
  border-radius: 9px 9px 0px 0px;
}
.slider .pets-card h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
}

.right-arrow {
  transform: rotate(180deg);
}

.arrow-icon:hover {
  fill: rgba(241, 205, 179, 0.5607843137);
}

.help__container {
  width: 1200px;
  height: 431px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 80px 40px 100px 40px;
}
.help__container h3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  width: 320px;
  text-align: center;
  margin: 5px 70px 0px 0px;
}
.help__container h3 p {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  width: 308px;
  text-align: center;
}

.help-list {
  width: 1100px;
  height: 281px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: space-around;
  flex-wrap: wrap;
  margin: 5px 70px 0px 0px;
}
.help-list .list-item {
  width: 175px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.help-list .list-item .img-list-item {
  text-align: center;
}
.help-list .list-item h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
}
.help-list .list-item:nth-child(6) {
  flex-basis: 23%;
  padding-left: 70px;
}
.help-list .list-item:nth-child(7) {
  flex-basis: 23%;
}
.help-list .list-item:nth-child(8) {
  flex-basis: 23%;
}
.help-list .list-item:last-child {
  flex-basis: 23%;
  padding-right: 70px;
}

.donation {
  background-color: #F6F6F6;
}

.donation__container {
  display: flex;
  justify-content: center;
  padding: 80px 0px 100px 0px;
}

.donation-img {
  padding-right: 40px;
}

.donation-block {
  width: 380px;
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.donation-block h3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
}
.donation-block h3 span {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
}
.donation-block h5 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: 0.06em;
  color: #545454;
}

.credit-card {
  width: 349px;
  height: 43px;
  border-radius: 9px;
  background-color: #F1CDB3;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  justify-content: space-between;
}
.credit-card span {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation-description {
  width: 380px;
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #B2B2B2;
}

.footer {
  background: url("../img/noise-transparent.svg"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__container {
  display: flex;
}

.footer-contacts h3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}

.mail-block {
  width: 251px;
  height: 32px;
}
.mail-block .mail-icon {
  background-image: url("../img/icon-email.svg");
  width: 100%;
  height: 100%;
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
}
.mail-block h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  color: #F1CDB3;
  text-decoration: underline;
}

.phone-block {
  width: 239px;
  height: 32px;
}
.phone-block .phone-icon {
  background-image: url("../img/icon-phone.svg") no-repeat;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.phone-block h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  color: #F1CDB3;
}/*# sourceMappingURL=style.css.map */