.pets__section {
    background-color: $color-light-l;
}

.petsSection__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    @include appearance-humburger-menu {
        height: 100%;
    }
}
.title-pets {
    @include h3;
    width: 400px;
    text-align: center;
    padding: 32px 0;
    @include media-tablet {
        margin-top: 30px;
    }
    @include media-mobile {
        font-size: 2.5rem;
        line-height: 3.2rem;
        width: 100%;
        margin: 42px 0 42px 0;
        padding-top: 0px;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    &.active {
        display: block;
    }
}

body {
    .modal
    &.active {
    overflow: hidden;
}
}


.modal-content {
    background-color: $color-light-s;
    margin: 15% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.modal-img {
    width: 500px;
}
.modal-block {
    padding-left: 50px;
}
.img-pets-card-modal {
    width: 450px;
    //height: 500px;
}

.title-modal {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 4.5rem;
    letter-spacing: 0.06em;
    color: black;
    padding-bottom: 10px;
}

.type-modal {
    @include h4;
    color: black;
}

.description-modal {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7rem;
    letter-spacing: 0.06em;
    margin: 30px 0;
    color: black;
}

.list-modal {
    li{
        margin-bottom: 5px;
        background: url(../img/dot.svg) no-repeat left center;
        padding: 0px 0 11px 24px;
    }
}

.title-options {
    color: black;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.7rem;
    letter-spacing: 0.06em;
}

.options {
    color: black;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.45rem;
    line-height: 1.6rem;
    letter-spacing: 0.06em;
    padding: 11px 0;
}

.modal-close {
    position: absolute;
    top: calc(50% - 50px);
    right: calc(10% - 10px);
    z-index: 100;
    &:hover {
        color: black;
    text-decoration: none;
    cursor: pointer;
    }
    &:focus {
        color: black;
    text-decoration: none;
    cursor: pointer;
    }
  }

  .modal_close_button-svg {
    //fill: black;
    pointer-events: none;
  }

.slider {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 65px;
    overflow: hidden;
    @include media-tablet {
       max-width: 708px;
        justify-content: space-between;
        gap: 13px;
    }
    @include media-mobile {
        max-width: 300px;
        align-content: space-between;
        gap: 0;
    }

    .slider-cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
    }

    .pets-card {
        width: 270px;
        height: 435px;
        border-radius: 9px;
        background-color: $color-light-s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        align-content: space-between;
        cursor: pointer;
        transition: all .3c ease-out;
        overflow: hidden;

       @include media-tablet {
            &:nth-child(4) {
                display: none;
            }
        }

        @include media-mobile {
            &:nth-child(3) {
                display: none;
            }
        }

        &:hover {
            background-color: $color-light-xl;
            box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        }
        .img-pets-card {
            border-radius: 9px 9px 0px 0px;
        }

        h4 {
            @include h4;
        }
    }
}

.slider {
    @include media-mobile {
    &:nth-child(2) {
    flex-basis: 100%;
    }
}
}

.right-arrow {
    transform: rotate(180deg);
    cursor: pointer;
    @include media-mobile {
        flex-basis: 40%;
        order: 3;
        //padding: 0px 0px 0px 42px;
        margin: 16px 58px 0 0;
    }
}

    .arrow-icon:hover  {
        fill: #f1cdb38f;
        cursor: pointer;
      }

.left-arrow {
    @include media-mobile {
        flex-basis: 40%;
        order: 2;
        padding: 20px 0 0 42px;
    }
}



