@charset "UTF-8";
@font-face {
  font-family: "Georgia", "Times New Roman", Times, serif;
  src: url(../fonts/georgia.ttf);
}
@font-face {
  font-family: "Arial", Helvetica, sans-serif;
  src: url(../fonts/ARIAL.ttf);
  font-weight: 400;
  font-style: normal;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 708px;
    margin: 0 auto;
  }
}
@media (max-width: 720px) {
  .wrapper {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .wrapper {
    max-width: 300px;
  }
}

/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.header__container {
  display: flex;
  max-width: 1200px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo_title {
  padding: 31px 0 1px 1px;
}
@media (max-width: 320px) {
  .logo_title {
    padding: 0;
  }
}
.logo_title .logo-href {
  font-size: 3.2rem;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  scroll-behavior: smooth;
}
.logo_title:hover {
  transform: scale(110%);
  transition: background-color 3s, transform 2.5s;
}

.logo_subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  padding: 10px 0 30px 4px;
  color: #292929;
}
@media (max-width: 320px) {
  .logo_subtitle {
    padding: 5px 0 0 0;
  }
}

.nav-panel {
  display: flex;
  flex-direction: row;
  width: 443px;
  justify-content: space-between;
  padding: 10px 0px 0px 0px;
}

.item-menu a {
  font-family: "Arial";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  color: #545454;
  line-height: 2.4rem;
  scroll-behavior: smooth;
}
.item-menu a:hover {
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
  transition: all 0.4s ease-out;
}
.item-menu a:nth-child(2) {
  color: #292929;
}

.item-active {
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
  pointer-events: none;
}

.burger-line, .burger__container::after, .burger__container::before {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #F1CDB3;
  content: "";
}

.line-black {
  background: #000000;
}

.black::before {
  background: #000000;
}
.black::after {
  background: #000000;
}

.burger__container {
  display: none;
  width: 32px;
  height: 30px;
  position: relative;
  z-index: 5;
  transition: all 0.5s ease-out;
}
.burger__container.active {
  transform: rotate(90deg);
}
@media (max-width: 720px) {
  .burger__container {
    display: block;
  }
}
.burger__container::before {
  top: 0;
  left: 0;
}
.burger__container::after {
  bottom: 0;
  left: 0;
}

@media (max-width: 720px) {
  .nav-menu {
    position: absolute;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 90%;
    background-color: #292929;
    display: flex;
    transition: all 0.5s ease-out;
    justify-content: center;
    overflow: hidden;
  }
  .nav-menu.active {
    right: 0;
    overflow: hidden;
  }
}

@media (max-width: 720px) {
  .nav-panel {
    flex-direction: column;
    padding: 90px;
    gap: 0;
    align-items: center;
  }
}
@media (max-width: 425px) {
  .nav-panel {
    padding: 20px;
    justify-content: space-evenly;
  }
}

@media (max-width: 720px) {
  .item-menu a {
    line-height: 5.1rem;
    font-size: 3.2rem;
    color: #cdcdcd;
  }
  .item-menu a:active {
    border-bottom: 3px solid #FAFAFA;
    color: #FAFAFA;
  }
}
@media (max-width: 720px) {
  .item-menu .item-active {
    color: #FAFAFA;
  }
}

@media (max-width: 720px) {
  .header__container {
    padding: 30px 10px 20px 10px;
    align-items: center;
    justify-content: space-between;
  }
}

.burger-line {
  top: calc(50% - 1.5px);
  left: 0;
}

.button-primary {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  background-color: #F1CDB3;
  margin-top: 42px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .button-primary {
    align-self: center;
  }
}
.button-primary span {
  width: 117px;
  height: 22px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  color: #292929;
}
.button-primary:hover {
  background-color: #FDDCC4;
  transform: scale(105%);
  transition: background-color 3s, transform 2.5s;
}

.button_secondary {
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  cursor: pointer;
  transition: all 0.3s;
}
.button_secondary:hover {
  background-color: #FDDCC4;
  transform: scale(85%);
  transition: background-color 3s, transform 2.5s;
}
.button_secondary span {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  color: #292929;
}

.button-pets-card {
  background-color: #F1CDB3;
  width: 261px;
  height: 52px;
  cursor: pointer;
  transition: all 0.3s;
  margin: 0;
}
@media (max-width: 425px) {
  .button-pets-card {
    width: 260px;
  }
}

.button-margin {
  margin: 42px 0 42px 0;
}

.our-pets {
  background-color: #F6F6F6;
}

.our-pets__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-pets__container h3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  padding: 80px 0 30px 0;
  text-align: center;
}
@media (max-width: 425px) {
  .our-pets__container h3 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    width: 100%;
    padding: 42px 0 0 0;
  }
}

.our-pets-cards_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 425px) {
  .our-pets-cards_container {
    justify-content: center;
  }
}
.our-pets-cards_container .our-pets-card {
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  border-radius: 9px;
  justify-content: space-around;
  margin: 30px 10px 13px 10px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.our-pets-cards_container .our-pets-card:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  transform: scale(105%);
  transition: background-color 3s, transform 2.5s;
}
@media (max-width: 768px) {
  .our-pets-cards_container .our-pets-card:nth-child(7) {
    display: none;
  }
  .our-pets-cards_container .our-pets-card:nth-child(8) {
    display: none;
  }
}
@media (max-width: 425px) {
  .our-pets-cards_container .our-pets-card {
    margin: 42px 10px 13px 10px;
  }
  .our-pets-cards_container .our-pets-card:nth-child(4) {
    display: none;
  }
  .our-pets-cards_container .our-pets-card:nth-child(5) {
    display: none;
  }
  .our-pets-cards_container .our-pets-card:nth-child(6) {
    display: none;
  }
}
.our-pets-cards_container h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
}

.navigation {
  width: 381px;
  padding: 30px 0 100px 0;
  margin: 0 auto;
}
@media (max-width: 425px) {
  .navigation {
    padding: 42px 0 42px 0;
    width: 100%;
  }
}

.navigation__container {
  display: flex;
  justify-content: space-evenly;
}

.center-arrow-icon {
  fill: rgba(241, 205, 179, 0.5607843137);
}

.right-arrow-icon {
  cursor: pointer;
}
.right-arrow-icon:hover {
  fill: rgba(241, 205, 179, 0.5607843137);
}

.right-right-arrow-icon {
  cursor: pointer;
}
.right-right-arrow-icon:hover {
  fill: rgba(241, 205, 179, 0.5607843137);
}

.button_paginator_inactive {
  cursor: pointer;
}

.footer {
  background: url("../img/noise-transparent.svg"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .footer__container {
    justify-content: space-between;
    padding-top: 30px;
  }
}

.footer-contacts {
  width: 305px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .footer-contacts {
    align-items: center;
    padding-bottom: 40px;
    width: 100%;
  }
}
.footer-contacts h3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}
@media (max-width: 425px) {
  .footer-contacts h3 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    text-align: center;
  }
}

.mail-block {
  width: 251px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.mail-block:hover {
  color: #FFFFFF;
}
.mail-block .mail-icon {
  background-image: url("/img/icon-email.svg");
  width: 40px;
  height: 32px;
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
}
.mail-block h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  color: #F1CDB3;
}
.mail-block h4:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
@media (max-width: 425px) {
  .mail-block h4 {
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
  }
}

.phone-block {
  width: 239px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.phone-block .phone-icon {
  background-image: url("/img/icon-phone.svg");
  width: 40px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}
.phone-block h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  color: #F1CDB3;
}
.phone-block h4:hover {
  color: #FFFFFF;
}
@media (max-width: 425px) {
  .phone-block h4 {
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
  }
}

.locations-block {
  width: 302px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 425px) {
  .locations-block {
    width: 100%;
    height: 100%;
  }
}
.locations-block h3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}
@media (max-width: 425px) {
  .locations-block h3 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    text-align: center;
    letter-spacing: 0.06em;
    width: 250px;
  }
}

.adress-location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 302px;
}
@media (max-width: 425px) {
  .adress-location {
    padding-top: 40px;
  }
}
.adress-location .icon-block {
  width: 22px;
  height: 32px;
}
.adress-location .icon-block .location-icon {
  background-image: url("../img/icon-marker.svg");
  width: 22px;
  height: 32px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.adress-location .icon-block .location-icon:hover {
  transform: scale(120%);
  transition: background-color 3s, transform 2.5s;
}
.adress-location h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  color: #F1CDB3;
  padding-left: 20px;
}
.adress-location h4:hover {
  color: #FFFFFF;
}
@media (max-width: 425px) {
  .adress-location h4 {
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
  }
}

.footer-img__container .footer-img {
  background-image: url("../img/footer-puppy.png");
  width: 300px;
  height: 310px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 425px) {
  .footer-img__container .footer-img {
    width: 260px;
    height: 269px;
  }
}
@media (max-width: 768px) {
  .footer-img__container {
    padding-top: 65px;
    margin: 0 auto;
  }
}
@media (max-width: 425px) {
  .footer-img__container {
    padding-top: 40px;
  }
}/*# sourceMappingURL=pets-style.css.map */